.activeLink {
  color: white;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: #52c4e7;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navWrapper {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.link:hover {
  color: #faf749;
}
